<form novalidate (ngSubmit)="submitForm()" [formGroup]="employeeForm">
    <div>
        <label for="firstName">First Name</label>
        <input
            type="text"
            id="firstName"
            formControlName="firstName"
            [class.validation-error]="displayedMessages.firstName.length !== 0"
        />
        <div *ngFor="let message of displayedMessages.firstName">
            {{ message }}
        </div>
    </div>

    <div>
        <label for="lastName">Last Name</label>
        <input
            type="text"
            id="lastName"
            formControlName="lastName"
            [class.validation-error]="displayedMessages.lastName.length !== 0"
        />
        <div *ngFor="let message of displayedMessages.lastName">
            {{ message }}
        </div>
    </div>

    <div>
        <label for="birthday">Birthday</label>
        <input
            type="date"
            id="birthday"
            formControlName="birthday"
            [class.validation-error]="displayedMessages.birthday.length !== 0"
        />
        <div *ngFor="let message of displayedMessages.birthday">
            {{ message }}
        </div>
    </div>

    <div [class.validation-error]="displayedMessages.gender.length !== 0">
        <label for="male">Gender</label>
        <label for="male">
            <input
                type="radio"
                id="male"
                value="male"
                formControlName="gender"
            />
            Male
        </label>
        <label for="female">
            <input
                type="radio"
                id="female"
                value="female"
                formControlName="gender"
            />Female
        </label>
        <label for="other">
            <input
                type="radio"
                id="other"
                value="other"
                formControlName="gender"
            />Other
        </label>
        <div *ngFor="let message of displayedMessages.gender">
            {{ message }}
        </div>
    </div>

    <div>
        <label for="nationality">Nationality</label>
        <div
            formArrayName="nationalityArray"
            *ngFor="let nationality of nationalityArray.controls; let i = index"
        >
            <div [formGroupName]="i">
                <div
                    class="ng-autocomplete"
                    [class.validation-error]="
                        displayedMessages?.nationality1?.length ||
                        displayedMessages?.nationalityGroup?.length
                    "
                >
                    <ng-autocomplete
                        id="nationality"
                        formControlName="nationality"
                        [isLoading]="countryList.data.length === 0"
                        [data]="countryList.data"
                        [searchKeyword]="countryList.keyword"
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"
                    >
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <button
                type="button"
                (click)="handleNationalityAdd()"
                [disabled]="
                    !nationalityArray.valid || nationalityArray.length !== 1
                "
                *ngIf="i === 0"
            >
                add
            </button>
            <button
                type="button"
                (click)="handleNationalityDelete()"
                *ngIf="i === 1"
            >
                delete
            </button>

            <div
                *ngFor="
                    let message of displayedMessages['nationality' + (i + 1)]
                "
            >
                {{ message }}
            </div>
        </div>
        <div *ngFor="let message of displayedMessages.nationalityGroup">
            {{ message }}
        </div>
    </div>

    <div>
        <label for="email">Email</label>
        <input
            type="text"
            id="email"
            formControlName="email"
            [class.validation-error]="displayedMessages.email.length !== 0"
        />

        <div *ngFor="let message of displayedMessages.email">
            {{ message }}
        </div>
    </div>

    <div formGroupName="passwordGroup">
        <div>
            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                formControlName="password"
                [class.validation-error]="
                    displayedMessages.password.length !== 0 ||
                    displayedMessages.passwordGroup.length !== 0
                "
            />
            <div *ngFor="let message of displayedMessages.password">
                {{ message }}
            </div>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                [class.validation-error]="
                    displayedMessages.passwordGroup.length !== 0
                "
            />
        </div>
        <div *ngFor="let message of displayedMessages.passwordGroup">
            {{ message }}
        </div>
    </div>

    <button type="submit" [disabled]="employeeForm.invalid">submit</button>
</form>

<br />Dirty: {{ employeeForm.dirty }} <br />Touched: {{ employeeForm.touched }}
<br />Valid: {{ employeeForm.valid }} <br />Value:
{{ employeeForm.value | json }}
<br />
